<div *ngIf="orderItems$ | async as orderItems" class="side-container">
  <p *ngIf="orderItems.length == 0">
    No item scanned yet
  </p>

  <div *ngIf="orderItems.length > 0" class="list-container">
    <div *ngFor="let orderItem of orderItems">
      <div class="order-item">
        <span>{{orderItem.itemName}}</span>
        <span>x{{orderItem.quantity}}</span>
      </div>
      <hr>
    </div>

    <div *ngIf="orderService.checkoutState$ | async as checkoutState" class="order-item">
      <ng-container *ngIf="checkoutState.sum">
        <strong>Total:</strong>
        <span>${{checkoutState.sum}}</span>
      </ng-container>
      <ng-container *ngIf="checkoutState.loading">
        <span>Calculating...</span>
      </ng-container>
      <ng-container *ngIf="checkoutState.error">
        <span [ngStyle]="{ color: 'red' }">{{checkoutState.error}}</span>
      </ng-container>
    </div>
  </div>

  <div class="side-ctrl" *ngIf="orderItems.length > 0">
    <app-button label="RESET" (click)="resetOrder()" />
    <app-button label="CHECKOUT" (click)="checkout()" />
  </div>
</div>
